body {
  background-image: url("../public/img/Day-background.png");
  background-size: cover;
  background-position: center;
  padding: 5%;
  font-family: "Jost", sans-serif;
}

.background {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 0.5rem;
}

@media (max-width: 770px) {
  body {
    text-align: center;
  }
}
